<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pro.dao.WebSystemMapper">
  <resultMap id="BaseResultMap" type="com.pro.entity.WebSystem">
    <result column="system_logo_url" jdbcType="VARCHAR" property="systemLogoUrl" />
    <result column="system_title" jdbcType="VARCHAR" property="systemTitle" />
    <result column="system_jian_pin" jdbcType="VARCHAR" property="systemJianPin" />
    <result column="system_technical_support" jdbcType="VARCHAR" property="systemTechnicalSupport" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    system_logo_url, system_title, system_jian_pin, system_technical_support
  </sql>
  <select id="selectByExample" parameterType="com.pro.entity.WebSystemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from w_system
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pro.entity.WebSystemExample">
    delete from w_system
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pro.entity.WebSystem">
    insert into w_system (system_logo_url, system_title, system_jian_pin, 
      system_technical_support)
    values (#{systemLogoUrl,jdbcType=VARCHAR}, #{systemTitle,jdbcType=VARCHAR}, #{systemJianPin,jdbcType=VARCHAR}, 
      #{systemTechnicalSupport,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pro.entity.WebSystem">
    insert into w_system
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="systemLogoUrl != null">
        system_logo_url,
      </if>
      <if test="systemTitle != null">
        system_title,
      </if>
      <if test="systemJianPin != null">
        system_jian_pin,
      </if>
      <if test="systemTechnicalSupport != null">
        system_technical_support,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="systemLogoUrl != null">
        #{systemLogoUrl,jdbcType=VARCHAR},
      </if>
      <if test="systemTitle != null">
        #{systemTitle,jdbcType=VARCHAR},
      </if>
      <if test="systemJianPin != null">
        #{systemJianPin,jdbcType=VARCHAR},
      </if>
      <if test="systemTechnicalSupport != null">
        #{systemTechnicalSupport,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pro.entity.WebSystemExample" resultType="java.lang.Long">
    select count(*) from w_system
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update w_system
    <set>
      <if test="record.systemLogoUrl != null">
        system_logo_url = #{record.systemLogoUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.systemTitle != null">
        system_title = #{record.systemTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.systemJianPin != null">
        system_jian_pin = #{record.systemJianPin,jdbcType=VARCHAR},
      </if>
      <if test="record.systemTechnicalSupport != null">
        system_technical_support = #{record.systemTechnicalSupport,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update w_system
    set system_logo_url = #{record.systemLogoUrl,jdbcType=VARCHAR},
      system_title = #{record.systemTitle,jdbcType=VARCHAR},
      system_jian_pin = #{record.systemJianPin,jdbcType=VARCHAR},
      system_technical_support = #{record.systemTechnicalSupport,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>